<%+header%>
<h2>流量统计</h2>
<p style="position:relative;">
    <button id="resetDatabase" class="cbi-button" style="position:absolute;right:0;bottom:0;">重置统计</button>
</p>
<p>
    <small><span id="updated"></span> <span id="updating"></span></small>
    <span style="float:right;text-align:right;margin-top:10px;">
        <label>
            <small>刷新间隔</small>
            <select id="intervalSelect" style="font-size:11px;">
                <option value="-1">禁用</option>
                <option value="1" selected="selected">1 秒</option>
                <option value="2">2 秒</option>
                <option value="3">3 秒</option>
                <option value="4">4 秒</option>
                <option value="5">5 秒</option>
                <option value="10">10 秒</option>
                <option value="20">20 秒</option>
                <option value="30">30 秒</option>
                <option value="40">40 秒</option>
                <option value="50">50 秒</option>
                <option value="60">60 秒</option>
                <option value="120">2 分钟</option>
                <option value="180">3 分钟</option>
                <option value="240">4 分钟</option>
                <option value="360">5 分钟</option>
            </select>
        </label>
        <br/>
        <label>
            <small>将同名主机合并</small>
            <input id="perHostTotals" type="checkbox" style="vertical-align:middle;"/>
        </label>
        <!--label>
            <small>仅显示同名主机聚合数据</small>
            <input id="showPerHostTotalsOnly" type="checkbox" style="vertical-align:middle;"/>
        </label-->
    </span>
</p>

<style>
fieldset.cbi-section {
    margin-top: 80px;
}
table.table {
    font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}
table.table tr.tr {
    transition: all .3s;
}
table.table tr.tr:hover {
    background: rgba(0,0,0,0.05);
}
</style>

<fieldset class="cbi-section">
    <table class="table">
        <tbody id="tableBody"><tr><td>加载中...</td></tr></tbody>
    </table>
</fieldset>

<!--suppress HtmlUnknownTarget -->
<script src="/luci-static/wrtbwmon.js"></script>
<%+footer%>
