<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2020 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local ver = require "luci.version"

	local xtime
	if exectime then
		xtime = (string.format("%.2fs", os.clock() - exectime))
	end
%>

</div>
</div>

<p class="luci">
	<% local ver = require "luci.version" -%>
	<a href="https://github.com/openwrt/luci">
	Powered by <%= ver.luciname %> (<%= ver.luciversion %>)
	</a>
</p>

<script type="text/javascript">L.require('menu-freifunk-generic')</script>
<div class="footer">
<% if xtime then %>
<p class="exectime">Script execution time: <%=xtime%></p>
<% end %>
</div>

</body>
</html>
